body{
  background-color: #E6E6FA;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding-top: 70px;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
}
.nav-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1px 20px;
  background-color: #333;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 30px;        
  list-style: none;
}
.navbar li{
  height: 50px;
}
.navbar a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
.navbar li:first-child{
  margin-right: auto;
}
.navbar li:hover{
  background-color: #555;
}